/***************Footer******************/

footer {
  border-bottom: none;
  text-align: center;
  @include breakpoint(tablet) {
    text-align: left;
  }
  i {
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    color: $primary;
    font-size: 1.5em;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: .25s;
    &:hover {
      color: $primary-dark;
    }
  }
  a {
    margin-right: 1em;
    &:last-child {
      margin-right: 0;
    }
  }
}

.contact {
  margin-top: 1em;
}

/***************End Footer******************/
