/***************Global******************/

* {
  box-sizing: border-box;
}
body  {
  @include brandon;
  color: $gray;
  line-height: 1.3;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}
a:link, a:visited, a:active {
  color: $primary;
  text-decoration: none;
  transition: all .2s;
}
a:hover {
  color: $primary-dark;
}
h1, .fullname {
  font-size: 1.5em;
  line-height: 3;
  font-family: $font-sans;
  vertical-align: top;
  text-align: center;
  display: inline;
  @include breakpoint(tablet) {
    text-align: left;
  }
}
h2 {
  color: $primary;
  font-family: $font-sans;
  margin-bottom: .5em;
  font-size: 1.5em;
  text-align: center;
  @include breakpoint(tablet) {
    text-align: left;
  }
}
code {
  font-family: monospace;
  background: #eee;
  padding: 1em;
  border-radius: 3px;
  display: inline-block;
  margin-bottom: 2em;
  white-space: pre;
  max-width: 100%;
  overflow: auto;
  color: $dark-gray;
  .highlight {
    color: $primary;
  }
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

/***************End Global******************/
