/***************Header******************/

.top {
	width: 100%;
	background: $primary;
	color: #fff;
	text-align: center;
	box-shadow: 0 0 10px rgba(0,0,0,.6);
  transition: all .2s;
  position: fixed;
  top: 0;
  width: 100%;
  @include flexbox;
  @include breakpoint(tablet) {   
    text-align: left;
    align-items: center;
  }
  &.scroll-up {
    transform: translateY(-99px);
  }
  nav a {
    color: #fff;
    display: inline-block;
    padding: 1em 1em .5em 1em;
    transition: .25s;
    max-width: 100%;
    font-size: 0.8em;
    @include breakpoint(tablet) {
      font-size: 1em;
    }
    &:hover {
    	border-bottom: 2px solid #fff;
    }
  }
  .selected {
    color: #fff;
    cursor: default;
    border-bottom: 2px solid #fff;
  }
  ul {
    @include flexbox();
    align-items: center;
    width: 100%;
    height: 100%;
    li {
      @include flex(1);
      margin-bottom: 1em;
      text-align: center;
    }
  }
}
.name {
  @include flex(1);
  font-size: .75em;
  vertical-align: middle;
  h1, .fullname {
    margin-top: .4em;
    display: inline-block;
    @include breakpoint(tablet) {
      margin-top: 0;
    }
  }
  a {
    color: #fff;
    &:hover {
    border-bottom: none;
  }
  }
  @include breakpoint(tablet) {
    margin-left: 4em;
    font-size: 1em;
    @include flex(2);
  }
}
header img {
	border-radius: 50%;
	max-width: 50px;
	margin: 10px;
}
nav {
    @include flex(1);
}
.links {
	margin: 1em;
  background-color: #fff;
	ul {
		@include flexbox();
		width: 100%;
		li {
			display: inline;
			@include flex(1);
			text-align: center;
			border: 1px solid $primary;
			border-right: none;
			@include breakpoint(tablet) {
				width: 25%;
			}
			a {
				text-decoration: none;
				color: $primary-dark;
				padding: .25em;
				display: inline-block;
				width: 100%;
  			transition: all .2s;
  			font-family: $font-sans;
  			font-size: .9em;
			}
			a:hover {
				color: #fff;
				background: $secondary;
			}
		}
		li:first-child {
			border-radius: 2px 0 0 2px;
		}
		li:last-child {
			border-radius: 0 2px 2px 0;
			border-right: 1px solid $primary;
		}
	}
}

/***************End Header******************/
