.reading-wrapper {
  width: 50%;
}

.notes {
	margin-top: 2em;
	a {
		border-bottom: 1px solid;
		margin-bottom: .5em;
		display: inline-block;
	}
}

.note {
	margin-bottom: 2em;
	&:last-child {
		margin-bottom: 0;
	}
}

p.intro {
	font-size: 1.5em;
	color: $secondary;
	font-family: $font-sans;
}

h1.sectionTitle {
	font-size: 2em;
	color: $primary;
}