.reading-wrapper {
	@include breakpoint($desktop) {
		width: 50%;
	}
}

.notes {
	margin-top: 2em;
	a {
		margin-bottom: .5em;
		display: inline-block;
	}
	p {
		margin-bottom: 2em;
	}
}

.note {
	margin-bottom: 2em;
	&:last-child {
		margin-bottom: 0;
	}
}

p.intro {
	font-size: 1.15em;
	color: $secondary;
	font-family: $font-sans;
}

h1.sectionTitle {
	font-size: 2em;
	color: $primary-dark;
	line-height: 1;
}