//mixins
@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex:  $values;
  -webkit-flex:  $values;
  -ms-flex:  $values;
  flex:  $values;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;  
  -moz-box-ordinal-group: $val;     
  -ms-flex-order: $val;     
  -webkit-order: $val;  
  order: $val;
}

@mixin brandon {
	font-family: $font-serif;
	font-weight: 300;
}

//colors
$primary: #03c5ee;
$primary-dark: darken($primary, 15%);
$secondary: rgb(55, 209, 188);
$gray: #737373;
$dark-gray: darken($gray, 10%);

//fonts
$font-sans: "p22-underground", sans-serif;
$font-serif: "museo", serif;

//breakpoints
$sub-tablet: 401px;
$tablet: 730px;
$sub-desktop: 850px;
$desktop: 981px;